/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/CascadeStyleSheet.css to edit this template
*/
/* 
    Created on : 16 de mai. de 2026, 22:08:45
    Author     : Priscila
*/
/* --- CONFIGURAÇÕES GLOBAIS DE PALETA (Variáveis) --- */
.root {
    -fx-cor-principal: #7c1616;
    -fx-cor-texto: #FFFFFF;
}

/* --- ESTILO PARA O TÍTULO --- */
.titulo-jogo {
    -fx-font-family: "Impact";
    -fx-font-size: 31px;
    -fx-fill: white; /* Para Labels/Texts */
}

/* --- ESTILO UNIFICADO PARA OS BOTÕES DO MENU --- */
.botao-menu {
    -fx-font-family: "Impact";
    -fx-font-size: 20px;
    -fx-background-color: transparent;
    -fx-border-color: transparent;
    -fx-text-fill: -fx-cor-principal;
    -fx-cursor: hand; /* Garante a mãozinha em todos automaticamente */
}

/* Efeito Hover: Quando o mouse passa por cima do botão */
.botao-menu:hover {
    -fx-text-fill: #b31e1e; /* Um vermelho mais claro/brilhante */
    -fx-scale-x: 1.1;       /* Dá um mini zoom dinâmico de 10% de largura */
    -fx-scale-y: 1.1;       /* Dá um mini zoom dinâmico de 10% de altura */
}
